@model List<Quiniela.Models.Match>

@{
    ViewBag.Title = "Tabla de partidos";

}

<style>
    a.prox {
        color: cornflowerblue;
    }

    a.active {
        color: darkgreen;
    }

    a.finish {
        color: darkred;
    }
</style>


<div class="jumbotron text-center">
    <h1>@ViewBag.Title.</h1>
    <div class="table-responsive">
        <table id="matchTable" class="table table-bordered table-striped table-responsive">
            <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Fecha</th>
                    <th class="text-center">Local</th>
                    <th class="text-center"></th>
                    <th class="text-center">Visitante</th>
                    <th class="text-center">Estado</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.Id</td>
                    <td>@item.Date.Value.ToString("dd/MM hh:mm")</td>
                    <td>@item.Local</td>
                    <td>VS</td>
                    <td>@item.Visitor</td>
                    @switch (@item.Status)
                {
                    case 0:
                            <td>@Html.ActionLink("Próximo", "FilteredPredicts", new { searchFor = item.Id }, new { @class = "prox" })</td>
                            break;
                        case 1:
                            <td>@Html.ActionLink("En emisión", "FilteredPredicts", new { searchFor = item.Id }, new { @class = "active" })</td>
                            break;
                        case 2:
                            <td>@Html.ActionLink("Finalizado", "FilteredPredicts", new { searchFor = item.Id }, new { @class = "finish" })</td>
                            break;
                    }
                </tr>
            }
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#example tr').click(function () {
            var href = www.google.com.mx;
            if (href) {
                window.location = href;
            }
        });

    });
</script>